/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height;
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
}
