/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 Default: @ include inuit-font-size($inuit-font-size-h1);
 */

$inuit-font-size-h1:  6 !default;
$inuit-font-size-h2:  5 !default;
$inuit-font-size-h3:  4 !default;
$inuit-font-size-h4:  3 !default;
$inuit-font-size-h5:  2 !default;
$inuit-font-size-h6:  1 !default;


h1 {
  @include responsive-modularscale($inuit-font-size-h1);
}

h2 {
  @include responsive-modularscale($inuit-font-size-h2);
}

h3 {
  @include responsive-modularscale($inuit-font-size-h3);
}

h4 {
  @include responsive-modularscale($inuit-font-size-h4);
}

h5 {
  @include responsive-modularscale($inuit-font-size-h5);
}

h6 {
  @include responsive-modularscale($inuit-font-size-h6);
}